################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/TangyWeb_Server/bin/Debug/net6.0
/Code/TangyWeb_Server/obj
