################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/TangyWeb_Server/bin/Debug/net6.0
/Code/TangyWeb_Server/obj
/Code/TangyWeb_Client/bin/Debug/net6.0
/Code/TangyWeb_Client/obj
/Code/Tangy_Models/bin/Debug/net6.0
/Code/Tangy_Models/obj
/Code/Tangy_Business/obj
/Code/Tangy_Common/obj
/Code/Tangy_Data/obj
/Code/Tangy_Business/bin/Debug/net6.0
/Code/Tangy_Common/bin/Debug/net6.0/ref
/Code/Tangy_Common/bin/Debug/net6.0
/Code/Tangy_Data/bin/Debug/net6.0
/Code/TangyWeb_Server/wwwroot/images/products
/Code/TangyWeb_Api/bin/Debug/net6.0
/Code/TangyWeb_Api/obj
