@inject IAuthService _authService

<AuthorizeView>
    <Authorized>
        <a>@UserName</a>
        <a href="/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </NotAuthorized>

</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    public string UserName { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var authState = await AuthenticationState;
            if (authState.User.Identity.IsAuthenticated)
            {
                UserName = authState.User.Identity.Name;
            }

            StateHasChanged();
        }
    }
}
