<AuthorizeView>
    <Authorized>
        <a href="/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </NotAuthorized>

</AuthorizeView>

@code {

}
